:root {
    --fs-basis: 1rem;
    --fs-basis-desktop: 1.125rem;
    --fs-h2-basis: 1.25rem;
    --fs-h2-desktop: 1.5rem;
    --fs-h1-basis: 2.5rem;
    --fs-h1-desktop: 3.5rem;

    --fs-skilled: 2.25rem;

    --ff: 'Plus Jakarta Sans', sans-serif;

    --fw-basis: 500;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --line-height-skilled: 2.835rem;

    --line-height-basis: 1.75rem;
    --line-height-headingM: 2.5rem;
    --line-height-headingL: 3.1875rem;
    --line-height-headingXL: 4.375rem;

    --bg-neutral: hsl(0, 0%, 100%);
    --bg-body: hsl(0, 0%, 98%);
    --bg-button3: hsl(237, 100%, 64%);
    --bg-button3-hover: hsl(322, 87%, 55%);
    --bg-button2: hsl(322, 87%, 55%);
    --bg-button2-hover: hsl(13, 100%, 64%);
    --bg-button1: hsl(233, 54%, 16%);
    --bg-button1-hover: hsl(234, 25%, 52%);

    --color-a-default: hsl(341, 92%, 62%);
    --color-a-hover: hsl(341, 100%, 83%);
    --color-title: hsl(233, 54%, 16%);
    --color-body: hsl(232, 10%, 56%);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Set core body defaults */
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    min-height: 100vh;
    line-height: var(--line-height-basis);
    font-size: var(--fs-basis);
    font-weight: var(--fw-basis);
    font-family: var(--ff);
    text-align: left;
    background-color: var(--bg-body);
    overflow: hidden;

}

body > *,
main > * {
    background-color: var(--bg-neutral);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header h2 {
    font-size: clamp(40px, calc(2.5rem + ((1vw - 6.4px) * 4)), 56px);
    line-height: clamp(50.4px, calc(3.15rem + ((1vw - 6.4px) * 5.04)), 70.56px);
    min-height: 0vw;
    color: var(--color-title);
}

article p {
    max-width: 25ch;
}

h1 {
    line-height: clamp(32px, calc(2rem + ((1vw - 6.4px) * 2)), 40px);
    min-height: 0vw;
    font-size: clamp(24px, calc(1.5rem + ((1vw - 6.4px) * 2)), 32px);
    color: var(--bg-neutral);
}

button {

    display: inline-flex;
    /* center items horizontally and vertically */
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: var(--bg-color);
    text-align: center;
    font-family: var(--ff-poppins);
    border-radius: 1.5rem;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    min-width: 8.75rem;
    min-height: 3rem;
}

button:hover {
    cursor: pointer;
    min-height: 3.5rem;
    min-width: 10.4375rem;
    font-size: var(--fs-basis-desktop);
}

.button2 {
    min-width: 10.4375rem;
}

.button2:hover {
    min-height: 3.9375rem;
}


div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2.1875rem;
    width: 5.5625rem;
}

article h2 {
    padding-top: 2.375rem;
    padding-bottom: 1.625rem;
}

article p {
    padding-bottom: 1.5rem;
}

section p {
    margin-bottom: clamp(1.5em, calc(1.5rem + ((1vw - 0.4em) * 1)), 1.75em);
    margin-top: clamp(1em, calc(1rem + ((1vw - 0.4em) * 1)), 1.25em);
}


picture {
    width: 100%;
}


picture img {
    max-width: 100%;
    display: block;
    line-height: 0;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
}

main > * {
    width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    padding-bottom: clamp(2rem, calc(2rem + ((1vw - 0.4rem) * 2)), 2.5rem);
    padding-top: clamp(3.5rem, calc(3.5rem + ((1vw - 0.4rem) * 2)), 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
}

button {
    color: var(--bg-neutral);
}

footer,
.button1 {
    background-color: var(--bg-button1);
}

.button1:hover {
    background-color: var(--bg-button1-hover);
}

.button2,
h1 {
    background-color: var(--bg-button2);
}

.button2:hover {
    background-color: var(--bg-button2-hover);
}

.button3 {
    background-color: var(--bg-button3);
}

.button3:hover {
    background-color: var(--bg-button3-hover);
}

h1,
h2 {
    font-weight: var(--fw-extrabold);
}

button,
section a {
    font-weight: var(--fw-bold);
}

a {
    text-decoration: none;
    color: var(--color-a-default);
}

a:hover {
    cursor: pointer;
}

section a:hover {
    color: var(--color-a-hover);
}

p {
    color: var(--color-body);
}



section {
    position: relative;
}

.sr-only {
    position: absolute;
    top: -.75rem;
    left: 1rem;
}

@media(min-width: 40em) {
    body {
        padding: 1.5rem 2.5rem 0 2.5rem;
    }

    .logo {
        height: clamp(2.1875rem, calc(2.1875rem + ((1vw - 0.4rem) * -1.75)), 1.75rem);
        width: clamp(5.5625rem, calc(5.5625rem + ((1vw - 0.4rem) * 5.75)), 7rem);
    }

    article {
        width: 455px;
        margin-right: auto;
    }

    .header {
        position: relative;
    }


    picture {
        position: absolute;
        left: 50%;
        top: -10%;


        /*top: -55px;
        /*clamp(21.875rem, calc(21.875rem + ((1vw - 0.4rem) * -12.5)), 18.75rem);*/
        /*left: 120px;
    object-fit: cover;*/
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 112px;
    }

    main > * {
        width: calc(50% - .5rem);
    }

    main h2 {
        font-size: clamp(20px, calc(1.25rem + ((1vw - 6.4px) * 1)), 24px);
        line-height: clamp(1.625rem, calc(1.625rem + ((1vw - 0.4rem) * 1.25)), 1.9375rem);
        min-height: 0vw;
    }

    article {
        max-width: 65%;
        flex: 1 0 auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .button1,
    .button3 {
        height: clamp(3rem, calc(3rem + ((1vw - 0.4rem) * 2)), 3.5rem);
        width: clamp(8.75rem, calc(8.75rem + ((1vw - 0.4rem) * 6.75)), 10.4375rem);
    }

    .button2 {
        height: clamp(3.5rem, calc(3.5rem + ((1vw - 0.4rem) * 1.75)), 3.9375rem);
    }
}

@media(min-width: 65em) {
    body {
        padding: 0 10rem 0 10rem;
        margin-top: 1.5rem;

        font-size: 1.125rem;
    }

    main {
        gap: 1.875rem;
    }

    main > * {
        width: calc(33.33% - 1.25rem);
        margin-bottom: 5rem;
    }

    picture img {
        width: 100%;
    }
}
